.companySelectListWrapper {
    position: relative;
    width: 100%;
    border-radius: 8px;
    background-color: #ffffff;
  }
  
  .tableStyle {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid darkgray;
  }
  
  .headerCellStyle {
    background-color: #fafafa;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    text-align: right;
    vertical-align: middle;
    font-size: 13px;
    width: 180px;
  }
  
  .cellStyle {
    padding: 7px;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    font-size: 13px;
  }
  
  .radioStyle {
    margin-left: 10px;
    color: blue;
    vertical-align: middle;
  }
  
  .inputStyle {
    width: 100%;
    height: 26px;
    border: 1px solid #ccc;
  }
  
  .companyReqInputStyle {
    width: 50%;
    height: 26px;
    border: 1px solid #ccc;
    background: #fef4f4;
  }
  
  .tableStyle2 {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  .headerRowStyle {
    background-color: #f0f0f0;
    color: black;
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
  }
  
  .cellStyle2 {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    width: 180px;
  }
  
  .cellStyle3 {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
  }
  
  .imageCellStyle {
    padding: 10px;
    border: 1px solid #ccc;
    height: 120px;
    align-items: center;
    justify-content: center;
  }
  .headerCellStyle,
  .cellStyle {
    width: calc(50% - 2px); /* Subtract 2px for the border */
  }

  

  /* Wrapper for the entire form */

  .company-form {
    margin: 20px;
  }
  
  /* Style for input fields */
  .form-control-sm {
    width: 100%;
    height: 28px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  /* Style for radio buttons */
  .radioStyle {
    margin-right: 10px;
    color: blue;
  }
  
  /* Style for submit buttons */
  .mx-4 {
    margin: 0 4px;
  }