.rightSelectBoxPadding {
  margin-left: 90px;
  width: 28px;
}

.leftSelectBoxPadding {
  margin-left: 65px;
  width: 54px;
}

.lastSelectBoxTextPadding {
  margin-left: 60px;
  margin-right: 3px;
  width: 97px;
}

.selectBoxButtonWrapper {
  flex: 1;
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.tableHeader {
  width: 100%;
  color: black;
  font-weight: 600;
  height: 40px;
  display: flex;
  align-items: center;
}

/* 이미지 업로드 */
.userAvaterWrapper {
  width: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5px;
}

.userAvater {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userImage {
  visibility: hidden;
  width: 0px;
}

.userImageLabel img {
  border: 2px solid #838383;
  width: 87px;
  height: 90px;
}

.imageButtonWrapper {
  width: 27px;
  height: 27px;
  background-color: white;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3.95rem;
  right: -1.9rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.imageButtonWrapper:hover {
  background-color: #8f8f8f;
}

.imageButtonWrapper2 {
  width: 27px;
  height: 27px;
  background-color: white;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3.95rem;
  right: -3.8rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.imageButtonWrapper2:hover {
  background-color: #8f8f8f;
}

/* 버튼 */
.saveButton {
  color: gray;
  font-size: 30px;
}

.saveButton:hover {
  color: #d1d1d1;
}

.textInputBox {
  border: 1px solid #b6b6b6;
  width: 200px;
  height: 29px;
}

.errorWrapper {
  position: relative;
  width: 100%;
  display: inline-block;
}

.errorBox {
  min-width: 150px;
  background-color: #ffdede;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  color: black;
  font-weight: 600;
  z-index: 1;
  top: -130%;
  left: 50%;
  margin-left: -60px;
}

.errorBox::after {
  content: '';
  position: absolute;
  bottom: -40%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffdede transparent transparent transparent;
}

.errorSelectBox {
  min-width: 150px;
  background-color: #ffdede;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  color: black;
  font-weight: 600;
  z-index: 1;
  top: -50%;
  left: 50%;
  margin-left: -60px;
}

.errorSelectBox::after {
  content: '';
  position: absolute;
  bottom: -40%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffdede transparent transparent transparent;
}

/* .errorWrapper {
  display: relative;
  border: 1px solid blue;
  width: 100%;
  height: 100%;
}

.errorBoxWrapper {
  display: relative;
  top: -20px;
  left: 0px;
  width: 200px;
  height: 10px;
}

.errorBox {
  display: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 10px;
  font-size: 0.7rem;
  color: red;
  margin-top: 2px;
} */

.addrNum {
  display: relative;
  width: 100%;
  height: 26px;
  border: 1px solid #ccc;
  background: white;
}

.cellEmpAddrStyle {
  display: relative;
  padding-left: 7px;
  padding-top: 7px;
  vertical-align: middle;
  font-size: 13px;
}

.totalEmpCellStyle {
  height: 15px;
}

.defaultTitle {
  width: 120px;
}

.buttonWrapper {
  margin-left: 0px;
  width: 90%;
  display: flex;
  justify-content: end;
}

.paddingRight {
  width: 3px;
}

/* select cell style */
.empInfoCompanySelectBox {
  float: left;
  margin-left: -10px;
  width: 230px;
}

.empInfoWorkplaceSelectBox {
  float: left;
  margin-left: 15px;
  width: calc(100% - 230px);
  vertical-align: middle;
  font-size: 13px;
}

.companyWorkplaceCellStyle {
  display: relative;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  font-size: 13px;
}

.inputWrapperStyle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.TRDeptErrorBox {
  min-width: 150px;
  background-color: #ffdede;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  color: black;
  font-weight: 600;
  z-index: 1;
  top: -130%;
  left: 48%;
  margin-left: -60px;
  font-size: 12px;
}

.TRDeptErrorBox::after {
  content: '';
  position: absolute;
  bottom: -30%;
  left: 48%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffdede transparent transparent transparent;
}

.TREmpCDErrorBox {
  min-width: 150px;
  background-color: #ffdede;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  color: black;
  font-weight: 600;
  z-index: 1;
  top: -130%;
  left: 48%;
  margin-left: -60px;
  font-size: 12px;
}

.TREmpCDErrorBox::after {
  content: '';
  position: absolute;
  bottom: -30%;
  left: 48%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffdede transparent transparent transparent;
}

.TRUsernameErrorBox {
  min-width: 150px;
  background-color: #ffdede;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  color: black;
  font-weight: 600;
  z-index: 1;
  top: -130%;
  left: 48%;
  margin-left: -60px;
  font-size: 12px;
}

.TRUsernameErrorBox::after {
  content: '';
  position: absolute;
  bottom: -30%;
  left: 48%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffdede transparent transparent transparent;
}
