/* MainTitle.js */
.mainTitleWrapper {
  position: fixed;
  top: 50px;
  left: 43px;
  display: flex;
  align-items: center;
  min-width: 100px;
  width: calc(100% - 43px);
  height: 45px;
  color: white;
  background-color: #1c90fb;
}

.mainTitleWrapper .menuBox {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0 13px;
  height: 100%;
  background-color: #1673c9;
  color: white;
}

.mainTitleWrapper .titleName {
  font-size: 1.1rem;
  min-width: 200px;
  padding-left: 10px;
  font-weight: 600;
}

/* Title.js */
.titleWrapper {
  display: flex;
  align-items: center;
  min-width: 100px;
  height: 51px;
  border-bottom: 1px solid gray;
}

.titleWrapper .titleName {
  font-size: 1.1rem;
  font-weight: 600;
  width: 500px;
  padding-left: 10px;
}

/* DetailTitle.js */
.detailTitleWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}

.deptDetailTitleWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid black;
}

.deptDetailTitleWrapper .fa-circle {
  font-size: 0.5rem;
  padding: 0 5px;
}

.deptSubTitleWrapper {
  display: flex;
  align-items:end;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subTitleInfo{
  width: 100px;
  text-align: center;
  color: gray;
  font-weight: 800;
  padding-bottom: 10px;

}

.subTitleInfo2{
  padding-left: 10px;
  padding-bottom: 10px;
  width: 100px;
  text-align: center;
  color: gray;
  font-weight: 800;
}


.subTitleInfo.IsSelected {
  width: 100px;
  text-align: center;
  color: #1C90FB;
  font-weight: 800;
  padding-bottom: 7px;
  border-bottom: 3px solid #1C90FB;
  font-size: 19px;
}

.subTitleInfo2.IsSelected {
  padding-left: 10px;
  padding-bottom: 7px;
  width: 100px;
  text-align: center;
  color: #1C90FB;
  font-weight: 800;
  border-bottom: 3px solid #1C90FB;
  font-size: 19px;
}

.detailTitleWrapper .fa-circle {
  font-size: 0.5rem;
  padding: 0 5px;
}

.WhiteButton {
  background: linear-gradient(#f9f9f9, #eaeaea);
  border: 1px solid lightgray;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
  transition: border-color 0.3s;
  box-shadow: none;
  width: 50px;
  height: 26px;
  margin-bottom: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.WhiteButton:hover {
  border-color: #000000;
  box-shadow: none;
}