/* ContentWrapper.js */
.contentWrapper {
  position: fixed;
  top: 95px;
  left: 255px;
  border-left: 1px solid #dcdcdc;
  width: calc(100% - 255px);
  height: calc(100% - 95px);
  background-color: white;
}

 

/* DetailContentWrapper.js */
.detailContentWrapper {
  width: 100%;
  height: calc(100% - 51px);
  padding: 21px 21px;
}

/* SelectBoxWrapper.js */
.selectBoxWrapper {
  border: 2px solid #e6e6e6;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 600;
}

.deptSelectBoxWrapper {
  min-width: 1200px;
  height: 45px;
  border: 2px solid #e6e6e6;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 600;
}

.FPSelectBoxWrapper {
  min-width: 1050px;
  height: 90px;
  border: 2px solid #e6e6e6;
  display: flex;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  justify-content: center;
  flex-direction: column;
}

.FPSelectBoxWrapper > div {
  display: flex;

  align-items: center;
}

.firstDiv {
  padding-right: 10px;
  margin-left: 70px;
}

.secondDiv {
  margin-left: 86px;
}

.inputDivStyle {
  margin-right: 50px;
}

.inputDivStyle2 {
  margin-right: 66px;
}

.inputDivStyle5 {
  margin-right: 64px;
}

.inputDivStyle3 {
  margin-right: 10px;
}

.inputDivStyle4 {
  margin-right: 67px;
  margin-left: -29px;
}

.FixedInputStyle {
  margin-left: 5px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 0;
  /* outline: none; */
  width: 200px;
  padding-right: 35px;
  padding-left: 5px;
}

.FixedInputStyle:focus {
  outline: none;
  border-color: #1C90FB;
}

.FFInputIconStyle {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: darkgray;
}

.FFInputIconStyle:hover {
  cursor: pointer;
}

.FixedInputStyle2 {
  margin-left: 5px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 0;
  /* outline: none; */
  width: 200px;
  padding-right: 35px;
}

.FixedInputStyle2:focus {
  outline: none;
  border-color: #1C90FB;
}


.FPSelectBoxWrapper > div:not(:last-child) {
  margin-bottom: 10px;
}

.FFSelectBoxWrapper {
  width: 460px;
  height: 45px;
  border: 2px solid #e6e6e6;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 600;
}

.FFcustomButton {
  width: 30px;
  background-image: linear-gradient(#f9f9f9, #eaeaea);
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  color: darkgray;
  transition: border-color 0.3s;
  vertical-align: middle;
  box-shadow: none;
  height: 30px;
  margin-left: auto;
}

.FFcustomButton:hover {
  border-color: #000000;
  cursor: pointer;
}

.MdeptcustomButton {
  width: 30px;
  background-image: linear-gradient(#f9f9f9, #eaeaea);
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  color: #4aa1f2;
  transition: border-color 0.5s;
  vertical-align: middle;
  box-shadow: none;
  height: 30px;
  margin-left: 10px;
  line-height: 35px; /* 세로 중앙 정렬 */
  text-align: center; /* 가로 중앙 정렬 */
  font-size: 20px;
}

.MdeptcustomButton:hover {
  border-color: darkgray;
  cursor: pointer;
}

.DPcustomButton {
  margin-left: 5px;
  height: 30px;
  width: 30px;
  border: 2px solid darkgray;
  border-radius: 3px;
  margin-top: -3px;
  color: darkgray;
  background-image: linear-gradient(#f9f9f9, #eaeaea);
  border-radius: 3px;
}

.DPcustomButton:hover {
  border-color: #000000;
  cursor: pointer;
  color: black;
}

.DPcustomButtonNext {
  margin-left: 5px;
  height: 30px;
  width: 30px;
  border: 2px solid darkgray;
  border-radius: 3px;
  margin-top: -3px;
  color: darkgray;
  background-image: linear-gradient(#f9f9f9, #eaeaea);
  border-radius: 3px;
  display: flex; /* 부모 요소를 flex 컨테이너로 설정 */
  align-items: center; /* 수직 정렬을 가운데로 설정 */
  justify-content: center; /* 수평 정렬을 가운데로 설정 */
  margin-right: 15px;
}

.DPcustomButtonNext:hover {
  border-color: #000000;
  cursor: pointer;
  color: black;
}

.FFcustomButtonStyle {
  width: 30px;
  background-image: linear-gradient(#f9f9f9, #eaeaea);
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  color: darkgray;
  transition: border-color 0.3s;
  vertical-align: middle;
  box-shadow: none;
  height: 30px;
}

.FFcustomButtonStyle:hover {
  border-color: #000000;
}

.modalBoxWrapper {
  min-width: 200px;
  height: 45px;
  border: 2px solid #e6e6e6;
  display: flex;
  align-items: center;
  padding-left: 90px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 600;
}

/* SelectListWrapper.js */
.listBoxHeader {
  border-top: 1px solid black;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #fafafa;
}

.deptListBoxHeader {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 800;
}

.listBoxtitle {
  width: 60px;
  padding-left: 13px;
}

.deptListBoxtitle {
  width: 70px;
  padding-left: 13px;
}

.listBoxDataCount {
  color: blue;
}

.listBoxSort {
  width: 70%;
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

.deptListBoxSort {
  width: 75%;
  display: flex;
  justify-content: end;
}

.listWrapper {
  padding: 15px 0;
  width: 100%;
  min-height: 295px;
  height: calc(100% - 100px);
  background-color: #fafafa;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.deptListWrapper {
  padding: 15px 10px;
  width: 100%;
  min-height: 295px;
  height: calc(100% - 50px);
  border: 1px solid lightgray;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
  overflow-y: scroll;
}

.footerBox {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(133, 132, 132);
  border-top: 1px solid #e6e6e6;
  background-color: white;
}

.fa-circle-plus {
  padding-right: 5px;
}

/* ListBoxItem.js */
.listBoxItem {
  width: calc(100% - 26px);
  height: 80px;
  background-color: white;
  border: 1px solid #dfdfdf;
  margin-bottom: 7px;
  padding: 20px 6%;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.listBoxItem:hover {
  background-color: #e6f5ff;
}

.flexWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rightContent {
  width: 100%;
  display: flex;
  justify-content: end;
}

/* FullContentWrapper */
.fullContentWrapper {
  flex: 1;
  height: 105%;
  float: left;
}
/* RightContentWrapper.js */
.rightContentWrapper {
  margin-left: 20px;
  flex: 1;
  height: 100%;
  float: left;
}

/* LeftContentWrapper.js */
.leftContentWrapper {
  float: left;
}

/* MainContentWrapper.js */
.mainContentWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 50px);
}

/* MainContentWrapper.js */
.deptContentWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 140px);
  
}


.selected {
  background-color: #e6f5ff;
  border: 2px solid #4aa1f2;
  width: calc(100% - 26px);
  height: 80px;
  margin-bottom: 7px;
  padding: 20px 6%;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

/* 계층 구조 스타일 */
li > ul {
  margin-left: 20px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

/* 마지막 계층의 아이템 스타일 */
li > ul > li:last-child {
  border-left: none;
}

.date-picker-container {
  display: flex;
  z-index: 9999; /* 충분히 높은 값으로 설정하여 다른 요소 위에 올라오게 합니다. */
  position: absolute; /* position을 absolute로 설정하여 위치를 조절합니다. */
  top: 100%; /* input 태그 바로 아래에 위치시킵니다. */
}

.date-picker {
  margin-right: 10px; /* DatePicker 사이의 간격을 조절합니다. 마지막 DatePicker에는 margin이 필요 없으므로 이를 제거해야 합니다. */
}
