/* ContentWrapper.js */
.contentWrapper {
  position: fixed;
  top: 101px;
  left: 223px;
  width: calc(100% - 223px);
  height: calc(100% - 101px);
}

/* DetailContentWrapper.js */
.detailContentWrapper {
  width: 100%;
  height: calc(100% - 51px);
  padding: 21px 21px;
}

/* SelectBoxWrapper.js */
.selectBoxWrapper {
  min-width: 1200px;
  height: 45px;
  border: 2px solid #e6e6e6;
  display: flex;
  align-items: center;
  padding-left: 90px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 600;
}

.deptSelectBoxWrapper {
  min-width: 1200px;
  height: 45px;
  border: 2px solid #e6e6e6;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 600;
}

/* SelectListWrapper.js */
.listBoxHeader {
  border-top: 1px solid black;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #fafafa;
}

.deptListBoxHeader {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 800;
}

.listBoxtitle {
  width: 60px;
  padding-left: 13px;
}

.deptListBoxtitle {
  width: 70px;
  padding-left: 13px;
}


.listBoxDataCount {
  color: blue;
}

.listBoxSort {
  width: 70%;
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

.deptListBoxSort {
  width: 75%;
  display: flex;
  justify-content: end;
}

.listWrapper {
  padding: 15px 0;
  width: 100%;
  min-height: 295px;
  height: calc(100% - 100px);
  background-color: #fafafa;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.deptListWrapper {
  padding: 15px 10px;
  width: 100%;
  min-height: 295px;
  height: calc(100% - 50px);
  border: 1px solid lightgray;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
  overflow-y: scroll;
}

.footerBox {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(133, 132, 132);
  border-top: 1px solid #e6e6e6;
  background-color: white;
}

.fa-circle-plus {
  padding-right: 5px;
}

/* ListBoxItem.js */
.listBoxItem {
  width: calc(100% - 26px);
  height: 77px;
  background-color: white;
  border: 1px solid #dfdfdf;
  margin-bottom: 7px;
  padding: 20px 6%;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.listBoxItem:hover {
  background-color: #e6f5ff;
  border: 1px solid #4aa1f2;
}

.flexWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rightContent {
  width: 100%;
  display: flex;
  justify-content: end;
}

/* RightContentWrapper.js */
.rightContentWrapper {
  margin-left: 20px;
  flex: 1;
  height: 100%;
  float: left;
}

/* LeftContentWrapper.js */
.leftContentWrapper {
  height: 92%;
  float: left;
}

/* MainContentWrapper.js */
.mainContentWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 50px);
}

.selected {
  background-color: #e6f5ff;
  border: 3px solid #4aa1f2;
  width: calc(100% - 26px);
  height: 77px;
  margin-bottom: 7px;
  padding: 20px 6%;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

/* 계층 구조 스타일 */
li > ul {
  margin-left: 20px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

/* 마지막 계층의 아이템 스타일 */
li > ul > li:last-child {
  border-left: none;
}